.filters {
    width: 500px;
}

.input {
    width: 500px;
}

.filter-buttons {
    margin-top: 10px;
}

.unload-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}