body {
  background-color: #C9EDDC;
  font-family: 'Open Sans', sans-serif;
}

.user-info {
  border: 1px solid black;
}

.users-item {
  display: block;
  margin: 10px;
  font-size: 17px;
  background: none;
  width: fit-content;
  cursor: pointer;
  transition: 0.15s all linear;
  border: none;
  margin: 10px 0;
  padding: 0;
}

.users-item:hover {
  background-color: bisque;
}

.stats {
  
  margin-left: 200px;
}

.course > h3 {
  margin: 10px 0px;
}



.users {
  height: 200px;
  
}



.charts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  max-height: 3000px;
  transition: max-height 0.25s linear;
}
.collapse-body {
  overflow: hidden;
  max-height: 4000px;
  transition: max-height 0.5s ease-in-out;
}

.close {
  max-height: 0;
}

.specializations {
  width: 70vw;
  
}

.spec-button {
  background: rgb(141, 164, 240);
  cursor: pointer;
  font-size: 30px;
  border: none;
  border-radius: 7.5px;
  padding: 5px;
  display: block;
  width:100%;
  text-align: left;
  transition: 0.25s all;
  box-sizing: border-box;
  
}

.spec-button:hover {
  background: rgb(190, 187, 187);
}



.course-button {
  width: 100%;
  text-align: left;
  border: none;
  
  cursor: pointer;
  font-size: 17.5px;
  border-top: 1px solid rgb(82, 81, 81);
  padding: 5px;
  transition: 0.25s all;
  position: relative;
  box-sizing: border-box;
  
}

.spec-button-lightened {
  background-color: rgb(182, 182, 182);
}

.course:first-of-type button {
  border:none;
}

.collapse {
  margin: 5px 0;
  padding: 0px;
  border: 1px solid rgba(43, 42, 42, 0.247);
  border-radius: 10px;
}

.specialization .collapse {
  margin: 0;
  padding: 0;
  border: none;
}

.spec-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  
}

.spec-title h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.collapse .collapse-body {
  background-color: rgba(87, 85, 85, 0.103);
  z-index: -11;
  
}

.course {
  
  box-sizing: border-box;
}

.course > h4 {
  margin-left: 5px;
}

.courses {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}


.module-button {
  
  cursor: pointer;
  transition: 0.25s all linear;
}

.module-button:hover {
  background-color:rgba(88, 88, 87, 0.404);
}

.module-button-lightened {
  background-color:rgba(70, 79, 172, 0.404);
}

.module-title h4 {
  margin: 0;
  margin-left: 5px;
}

.course-progress-bar {
  position: absolute;
  background-color: #5B8C5A;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  z-index: -1;
  
}

.course-title {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-left: 10px;
}

.without-spec .collapse .collapse-header .course-button  {
  border: none;
}
.without-spec .collapse .collapse-header .course-button .course-progress-bar {
  border-radius: 10px;
}

.lessons {
  width: 100%;
  padding: 5px;
  border-collapse: collapse;
  margin: 10px 0;
  
}

.lessons tr th {
  font-size: 17px;
  border: 1px solid black;
}

.lessons tr td {
  text-align: center;
  border: 1px solid black;
}

.lessons tr th:first-child , .lessons tr td:first-child { 
  border-left: none;
}

.lessons tr th:last-child , .lessons tr:last-child td:last-child {
  border-right: none;
}

.lessons tr:last-child > td {
  border-bottom: none;
}

.module h3 {
  margin-left: 100px;
}

.course h4 , .course h3 {
  margin-left: 50px;
}

.course h2 {
  margin-left: 20px;
}

.course .collapse-body {
  background-color: rgba(20, 48, 75, 0.11);
  border-bottom: 2px solid rgb(107, 100, 100);
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.1);
  animation: rotation 2s infinite linear;
  
}

@keyframes rotation {
  from {
      -webkit-transform: translate(-50%, -50%) scale(0.1) rotate(0deg);
  }
  to {
      -webkit-transform: translate(-50%, -50%) scale(0.1) rotate(360deg);
  }
}

.error-messsage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -400%);
}

.disabled {
  cursor: default;
  background-color: rgba(136, 10, 10, 0.5);
}

body {
  overflow-x: hidden;
  width: 100%;
}
.stats {
  transform: translateX(110%);
  transition: 0.5s all;
  position: absolute;
  top: 50px;
}

.spec-stats h6 {
  margin: 0;
  padding: 0;
}

.spec-title {
  align-items: center;
}


