.header {
    display: flex;
    justify-content: space-between;
}

.filters {
    grid-area: "filters";
}

.unload {
    grid-area: "unload";
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(0.1);
    animation: rotation 2s infinite linear;
    
  }
  
  @keyframes rotation {
    from {
        -webkit-transform: translate(-50%, -50%) scale(0.1) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) scale(0.1) rotate(360deg);
    }
  }

.students-table {
    padding-top: 50px;
    width: 80vw;
    border-collapse: separate;
    margin: 0 auto;
  }

.students-table thead tr th:first-child {
    text-align: left;
}

.students-table tbody tr {
    cursor: pointer;
    transition: all 0.25s;
}

.students-table tbody tr td {
    padding: 15px;
    border: 1px solid rgb(88, 85, 85);
    border-spacing: 10px;
}


.students-table tbody tr:hover {
    background-color: #5b8671;
}

.students-table tbody tr td:nth-child(2), td:nth-child(3) {
    text-align: center;
}

thead button {
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    margin-bottom: 1px;
    background-color: #9eb7c5;
    padding-left: 0;
}

thead button.ascending::after {
    content: '▼';
    display: inline-block;
    margin-left: 0.5em;
}

thead button.descending::after {
    content: '▲';
    display: inline-block;
    margin-left: 0.5em;
}
