body {
  background-color: #8db6a7;
  font-family: 'Roboto', sans-serif;
}

.user-info {
  border: 1px solid black;
}

.users-item {
  display: block;
  margin: 10px;
  font-size: 17px;
  background: none;
  width: fit-content;
  cursor: pointer;
  transition: 0.15s all linear;
  border: none;
  margin: 10px 0;
  padding: 0;
}

.users-item:hover {
  background-color: bisque;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  width: 1000px;
}

.course {
  display: flex;
  justify-content: space-between;
}

.course > h3 {
  margin: 10px 0px;
}

#find {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(241, 231, 231);
  transition: 0.25s all linear;
}

#find:focus {
  outline: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.users {
  height: 200px;
}

.search-list {
  max-height: 200px;
  width: 304px;
  overflow-y: auto;
  background-color: rgb(241, 231, 231);
  position: absolute;
  top: 35px;
  display: none;
  transition: 0.25s all linear;
}


