.user-info {
  border: 1px solid black;
}

.users-item {
  display: block;
  margin: 10px;
  font-size: 20px;
  background-color: rgba(123,233,45,0.15);
  width: fit-content;
  cursor: pointer;
  transition: 0.15s all linear;
}

.users-item:hover {
  background-color: bisque;
}
